<%# app/views/invite_codes/_invite_code.html.erb %>
<div class="pt-2">
  <div class="flex items-center justify-between p-2 bg-container-inset rounded-md" data-controller="clipboard">
    <div>
      <span data-clipboard-target="source" class="text-sm font-medium text-primary"><%= invite_code.token %></span>
    </div>
    <div class="flex items-center gap-2">
      <button data-action="clipboard#copy" class="shrink-0 z-10 inline-flex items-center px-1 text-sm text-secondary font-sm text-center" type="button">
        <span data-clipboard-target="iconDefault">
          <%= icon "copy" %>
        </span>
        <span class="hidden inline-flex items-center" data-clipboard-target="iconSuccess">
          <%= icon "check" %>
        </span>
      </button>
      <%= render DS::Button.new(
        icon: "trash-2",
        variant: "ghost",
        href: invite_code_path(invite_code),
        method: :delete,
        confirm: CustomConfirm.for_resource_deletion("invite code"),
        size: "sm"
      ) %>
    </div>
  </div>
</div>
